<div class="login-box" style="position: relative;margin: 0;text-align: center;width: 100%;height: 100%;padding-top: 15%;">
  <img src="/themes/adminLTE/unl_data/img/bg.png" style="position: absolute;left: 0;top: 0;width:100%;height:100%">

  <div class="login-logo" style="margin: 0 auto;width: 360px;position: relative;color: #fff;">
    <!-- <a href="/" title="交换与路由在线实验平台"><img class="hidden-xs" src="/themes/adminLTE/unl_data/img/Logo_EVE_black.png" style="width:660px;height:240px"></a> -->
    <div style="font-size: 28px;margin-bottom: 15px;">网络工程虚拟仿真实验平台</div>
    <div style="font-size: 14px;margin-bottom: 50px;">媒体工程学院</div>
  </div>

  <!-- /.login-logo -->

  <div class="login-box-body" style="margin: 0 auto;width: 360px;position: relative;">

    <p class="login-box-msg">登录你的实验平台</p>

      <div class="form-group has-feedback">

        <input type="text" class="form-control" placeholder="用户名" ng-model="username" my-enter="tryLogin()" autofocus>

        <span class="glyphicon glyphicon-user form-control-feedback"></span>

      </div>

      <div class="form-group has-feedback">

        <input type="password" class="form-control" placeholder="密码" ng-model="password" my-enter="tryLogin()">

        <span class="glyphicon glyphicon-lock form-control-feedback"></span>

      </div>

      <div class="form-group has-feedback">

	<select name="html5" class="form-control" ng-init="html5='-1'"  placeholder="html5" ng-model="html5" ng-model="data.singleSelect">

		<option value=-1 selected>本地终端</option>

		<option value=1>浏览器终端</option>

	</select>

      </div>

      <div class="row">

        <div class="col-xs-4 col-xs-offset-8">

          <button class="btn btn-primary btn-block btn-flat" ng-click="tryLogin()">登录</button>

        </div>

		</p>

		<p style="text-align:center; color:red" data-ng-bind="loginMessageInfo">

		</p>

        <!-- /.col -->

        <!-- /.col -->

      </div>

  </div>

  <!-- /.login-box-body -->

</div>

<!-- /.login-box -->

