<div data-ng-include="'/themes/adminLTE/unl_data/pages/constant/header.html'" data-ng-controller="HeaderController" style="height: 50px;"></div>
<style>
.fl {
	float: left;
}
.fr {
	float: right;
}
.ctn {
	text-align: center;
}
.center {
	width: 1200px;
	text-align: left;
	padding: 30px 0;
	margin: 0 auto;
	min-height: 100px;
}
.center .tit {
	text-align: center;
	font-size: 26px;
	font-weight: bold;
	margin-bottom: 20px;
}
.grey {
	background: #f8f8f8;
}
.half {
	display: inline-block;
	width: 50%;
}

.top {
	padding: 70px 0 150px;
	text-align: center;
	background: #aaa;
	color: #fff;
	background-image: url('/themes/adminLTE/unl_data/img/mainnew1/banner.jpg');
	background-size: 100% 100%;
}
.top .t1 {
	font-size: 30px;
	margin-bottom: 20px;
	font-weight: 500;
}
.top .t2 {
	font-size: 16px;
}
.top .btn {
	width: 180px;
	height: 48px;
	line-height: 48px;
	background: #3974FF;
	border-radius: 24px;
	margin: 40px auto;
	padding: 0;
}
.top .btn:hover {
	color: #fff;
}
.head {
	height: 60px;
	line-height: 59px;
}
.head .center {
	padding: 0;
	min-height: 60px;
}
.head .center span {
	display: inline-block;
	margin-right: 20px;
	cursor: pointer;
}
.head .center span.cur {
	border-bottom: 1px solid #3974FF;
}

.pingtai {
	overflow: hidden;
}

.pingtai .half {
	box-sizing: border-box;
	float: left;
	padding: 20px;
	text-align: left;
}
.pingtai .half .tit {
	text-align: left;
}

.pingtai .img {
	width: 100%;
	height: 320px;
}

.shuoming .list {
	overflow: hidden;
}

.shuoming-item {
	float: left;
	width: 285px;
	margin-left: 20px;
	background: #fff;
	padding-bottom: 5px;
}
.shuoming-item:first-child {
	margin-left: 0;
}
.shuoming-item img {
	width: 100%;
	height: 150px;
}
.shuoming-item div {
	padding-left: 20px;
}
.shuoming-item .name {
	font-size: 16px;
	font-weight: bold;
	margin: 20px 0;
}
.shuoming-item .btn {
	width: 100px;
	height: 30px;
	line-height: 28px;
	background: #fff;
	border: 1px solid #D8D8D8;
	color: #666;
	border-radius: 15px;
	margin: 20px;
	cursor: pointer;
	text-align: center;
	padding: 0;
}
.shuoming-item .btn:hover {
	background: #3974FF;
	border: 1px solid #3974FF;
	color: #fff;
}
.line-btn-ctn {
	text-align: center;
}
.line-btn {
	width: 50px;
	height: 3px;
	background: #fff;
	margin: 30px 5px;
	display: inline-block;
	cursor: pointer;
}
.line-btn.cur {
	background: #3974FF;
}

.table-stu {
	width: 100%;
	border: none;
}
.table-stu tr {
	background: rgba(51,136,255,0.1);
}
.table-stu tr:nth-child(2n+1) {
	background: #fff;
}
.table-stu td {
	text-align: center;
	line-height: 40px;
}
.table-stu th {
	background: #3974FF;
	color: #fff;
	line-height: 50px;
	text-align: center;
}
.show-more {
	width: 120px;
	height: 30px;
	line-height: 30px;
	background: #fff;
	border: 1px solid #bbb;
	color: #666;
	border-radius: 15px;
	margin: 20px auto;
	cursor: pointer;
	text-align: center;
}
.excel {
	box-sizing: border-box;
	background: #fff;
	margin: 10px auto;
	padding: 10px 20px;
	height: 50px;
	line-height: 30px;
}
.excel span {
	display: inline-block;
}
.excel img {
	width: 20px;
}
.excel .name {
	width: 800px;
	margin: 0 10px;
}
.excel .time {
	width: 120px;
	font-size: 12px;
	color: #999;
}
.excel .btn {
	width: 60px;
	background: #3974FF;
	color: #fff;
	cursor: pointer;
	text-align: center;
	border-radius: 4px;
}

.page {
	text-align: center;
}
.page-list {
	display: inline-block;
	overflow: hidden;
	margin: 10px auto;
}
.page .btn {
	float: left;
	padding: 10px;
	background: #aaa;
	margin: 10px 5px;
}
.page .btn.cur {
	background: #3974FF;
}
.page .btn.els {
	background: none;
}
.tongzhi_list {
	margin: 0 -15px;
	overflow: hidden;
}
.tongzhi_list .item {
	float: left;
	width: 380px;
	color: #fff;
	margin: 15px;
	background-color: rgba(6, 6, 6, 0.2);
	padding: 30px 20px;
}
.tongzhi_list .item .time {
	margin-bottom: 8px;
}
.tongzhi_list .item:hover {
	background: #3974FF;
}
</style>
<div class="wrapper">
	<div class="top">
		<div class="t1">网络工程虚拟仿真实验平台</div>
		<div class="t2">主要面向"IP交换与路由技术"、"网络管理"、"Linux操作系统"等多门课程的实验教学</div>
		<div class="btn" data-ng-click="goMain()">去做实验</div>
	</div>
	<div class="head grey">
		<div class="center">
			<span data-ng-repeat="item in navList track by $index" data-ng-class="{'cur': curNav == $index}" data-ng-click="navClick(item, $index)">{{ item.name }}</span>
		</div>
	</div>
	<div class="ctn" id="nav1">
		<div class="center pingtai">
			<div class="half">
				<div class="tit">平台介绍
					<div ng-bind-html="platform.content"></div>
				</div>
			</div>
			<div class="half"><img class="img" ng-bind-src="{{ platform.img }}" /></div>
		</div>
	</div>
	<div class="ctn grey" id="nav2">
		<div class="center shuoming">
			<div class="tit">使用说明</div>
			<div class="list">
				<div
					class="item shuoming-item"
					data-ng-repeat="item in showUseDescList track by $index">
					<img ng-bind-src="{{ item.image }}" alt="">
					<div class="name">{{ item.title }}</div>
					<div>{{ item.createtime }}</div>
					<div class="btn" data-ng-click="seeDtl(item)">查看详情</div>
				</div>
			</div>
			<div class="line-btn-ctn">
				<div
					class="line-btn"
					data-ng-repeat="item in lineBtnNum track by $index"
					data-ng-class="{'cur': lineBtnIdx == $index}"
					data-ng-click="clickLine($index)">
				</div>
			</div>
		</div>
	</div>
	<div class="ctn" id="nav3">
		<div class="center">
			<div class="tit">学生中心</div>
			<table class="table-stu">
				<tr>
					<th>实验名称</th><th width="100">实验分数</th><th width="100">报告分数</th><th>报告评语</th>
				</tr>
				<tr data-ng-repeat="item in stuCenter track by $index">
					<td>{{ item.lab }}</td><td width="100">{{ item.labScore }}</td><td width="100">{{ item.reportScore }}</td><td>{{ item.content }}</td>
				</tr>
			</table>
			<!-- <div class="show-more">展开更多</div> -->
		</div>
	</div>
	<div class="ctn grey" id="nav4">
		<div class="center">
			<div class="tit">资料下载</div>
			<div>
				<div class="excel" data-ng-repeat="item in docList">
					<span><img src="" /></span>
					<span class="name">{{ item.name }}</span>
					<span>{{ item.time }}</span>
					<span class="fr"><div class="btn">下载</div></span>
				</div>
			</div>
			<div class="page">
				<div class="page-list">
					<div class="btn" data-ng-if="curZiP > 1">上一页</div>
					<div class="btn" data-ng-repeat="item in ziPages"></div>
					<div class="btn" data-ng-if="curZiP < curZiTotal">下一页</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ctn" style="background-color: #333;color: #fff;" id="nav5">
		<div class="center">
			<div class="tit">通知中心</div>
			<div class="tongzhi_list">
				<div class="item" data-ng-repeat="item in tongzhiList">
					<div class="time">{{item.createtime}}</div>
					<div>{{item.title}}</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	function hdlPages (cur, total) {
		let arr = []
		if (total < 7) { // 不需要展示省略号
			var i = 1
			while (i <= total) {
				arr.push(i)
				i++
			}
		}
		return arr


		// 需要展示省略号 目标 [1,2,3,'...', cur - 1, cur, cur + 1, '...', total - 2, total - 1, total]

		if (cur < 5) {
			var i = 1
			while (i <= cur) {
				arr.push(i)
				i++
			}
		} else {
			arr = [1,2,3,'...',cur - 1, cur]
		}
		if (cur < total - 4) {
			arr.push(cur + 1, '...', total - 2, total - 1, total)
		} else {
			var i = 1
			while (i <= total - cur)  {
				arr.push(total - cur + i)
				i++
			}
		}

		return arr
	}
</script>

<script src="/themes/adminLTE/dist/js/app.js"></script>

<link rel="stylesheet" href="/themes/adminLTE/unl_data/css/unl_lab.css">

<!-- <link rel="stylesheet" href="/themes/adminLTE/unl_data/css/custom_unl_lab.css"> -->

<link rel="stylesheet" href="/themes/adminLTE/dist/css/skins/skin-#38f.css">

